In [25]:
## Comments
## for single we use ##
## this is function
# this is a comment
a=20
a

20

## VARIABLES ASSIGNMENT RULES

Python Variables
A Python variable is a named bit of computer memory, keeping track of a value as the code runs.

A variable is created with an "assignment" equal sign =, with the variable's name on the left and the value it should 
store on the right:

In [34]:
## variables are case sensitive 
company='ineuron'
Company='PWSKILLS'
print(company)
print(Company)

ineuron
PWSKILLS

In [2]:
x = 42

In [3]:
x = 10
y = 'hello'
y = 'bye'
z = y

In [4]:
print(y)

bye

In [5]:
print(x)

10

In [6]:
print(z)

bye

In [7]:
x = 10
y = 'hello'
z = y

In [8]:
print(y)

hello

In [9]:
x = 10
y = 'bye'
y = 'hello'
z = y

In [10]:
print(y)

hello

Things to notice here...

1. The assignment x = 10 simply sets x to point to 10.

2. The assignment y = 'hello' sets y to point to 'hello'. Then the line y = 'bye' changes y to point to 'bye', overwriting 
the first pointer. Assigning a variable overwrites any existing pointer that variable had. Each assignment is like the
phrase "now point to" â€” the variable now points to the new thing, and any previous setting is forgotten.

3. Assignment between two variables like z = y, sets z to point to the same thing as y. Now they both point to the same 
value. It does not set one variable to point to the other variable, although the code does kind of look like that. It also
does not set up a permanent relationship between the variables, like they must always be the same now. Confusingly, in
mathematics writing the symbol = does set up a permanent relationship. In code, z = y has a very limited meaning: 
    set z to point to what y points to at this moment.

In [13]:
x = 10
y = 'heelo'
z = 'bye'

In [14]:
print(y)

heelo

In [15]:
print(z)

bye

In [16]:
print(x)

10

As Python runs, many operations depend on this feature, treating a value appropriately depending on its type. 
See here how the + operator behaves differently if it is given int vs. str values:

In [17]:
## int vales
>>> 1+2

3

In [18]:
## str values
>>> 'a'+'b'

'ab'

In [19]:
## str that look like int
>>> '3'+'4'

'34'

### Variable swap

In [20]:
a = 42
b = 13

It might seem that one can begin with a = b, but this does not work, since it overwrites and thus loses the original value 
of a. The classic 3-line solution uses a temporary variable named "temp" to hold this value during the swap, like this:

In [21]:
temp = a
a = b
b = temp

In [22]:
temp

42

In [23]:
print(a)

13

In [24]:
print(b)

42

### Variable Names are Superficial Labels

In [25]:
>>> x = 6
>>> y = x + x
>>> y

12

In [26]:
>>> alice = 6
>>> bob = alice + alice
>>> bob

12

In [ ]:
This is exactly the same computation, just using different variable names. What matters in a computation is the 
structure â€” which value is used at each spot in the computation, not the words chosen. The variable names are just 
arbitrary labels, tying together the different parts on the computation. If we change a variable name consistently 
throughout the code, the computation will work the same. Python is not looking at the variable names and thinking about
what those English words mean.

That said, though variable names are meaningless to Python, good code uses meaningful variable names to help the programmer
keep their ideas straight a they write and edit the code.

### decimal_num

In [1]:
#Perform sqrt() and exp() methods
import decimal
my_dec = decimal.Decimal(25.36)
print(my_dec)
#Find Square Root of the decimal number
print('Square Root is: ' + str(my_dec.sqrt()))
#Find e^x for the decimal number
print('e^x is: ' + str(my_dec.exp()))

25.3599999999999994315658113919198513031005859375
Square Root is: 5.035871324805668565859161094
e^x is: 103206740212.7314661465187086

In [2]:
decimal_num=2.5

In [3]:
decimal_num

2.5

### Float

Float is a function or reusable code in the Python programming language that converts values into floating point numbers. Floating point numbers are
decimal values or fractional numbers like 133.5, 2897.11, and 3571.213, whereas real numbers like 56, 2, and 33 are called integers.

In [4]:
x = float(56)

In [5]:
print(x)

56.0

In [6]:
## Ex-2
x = float(15)

In [8]:
print(x)

15.0

In [10]:
print(float(67))

67.0

In [11]:
## Ex-3
x = float(78.9)

In [12]:
print(x)

78.9

In [13]:
print(float(24.22))

24.22

## Complex

In [27]:
x = complex('3+5j')

In [28]:
print(x)

(3+5j)

### Reversed kekywords

## The reversed() method computes the reverse of a given sequence object and returns it in the form of a list.

In [31]:
# Ex-1
seq_string = 'Python'

# reverse of a string
print(list(reversed(seq_string)))

['n', 'o', 'h', 't', 'y', 'P']

In [32]:
## reversed keywords
'''
int,float,len,complex,bool,str,return,yeild
'''

'\nint,float,len,complex,bool,str,return,yeild\n'

### Boolean

Booleans represent one of two values: True or False.

In [35]:
# Ex-1
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [36]:
# Ex-2
a = 200
b = 33

In [38]:
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

Evaluate Values and Variables
The bool() function allows you to evaluate any value, and give you True or False in return
# Ex-3

In [39]:
print(bool("Hello"))
print(bool(15))

True
True

# Ex-4

In [40]:
x = "Hello"
y = 15

In [41]:
print(bool(x))
print(bool(y))

True
True

Most Values are True
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [42]:
bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

Some Values are False
In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the 
number 0, and the value None. And of course the value False evaluates to False.

In [43]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

One more value, or object in this case, evaluates to False, and that is if you have an object that is made 
from a class with a __len__ function that returns 0 or False:

In [48]:
class myclass():
 def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

Functions can Return a Boolean

In [49]:
def myFunction() :
  return True

print(myFunction())

True

We can execute code based on the Boolean answer of a function:

In [50]:
def myFunction() :
    return True

if myFunction() :
    print("YES!")
else:
    print("NO!")

YES!

Python also has many built-in functions that return a boolean value, like the isinstance() function,
which can be used to determine if an object is of a certain data type:

In [51]:
x = 200
print(isinstance(x, int))

True

## Type Casting

There may be times when you want to specify a type on to a variable. This can be done with casting. Python is an object-orientated language, and as such it uses classes to define data types, including its primitive types.

Casting in python is therefore done using constructor functions:

=> int() - constructs an integer number from an integer literal, a float literal (by removing all decimals), or a 
string literal (providing the string represents a whole number)
=> float() - constructs a float number from an integer literal, a float literal or a string literal
(providing the string represents a float or an integer)
=> str() - constructs a string from a wide variety of data types, including strings, integer literals 
and float literals

In [52]:
# Ex-1 int
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [53]:
print(x)

1

In [54]:
print(y)

2

In [55]:
print(z)

3

In [56]:
# Ex-2 float
x = float(1)
y = float(2.8)
z = float("3") 
w = float("4.2")

In [57]:
print(x)

1.0

In [58]:
print(y)

2.8

In [59]:
print(z)

3.0

In [60]:
print(w)

4.2

In [61]:
# Ex-3 strings
x = str("s1")
y = str(2)
z = str(3.0)

In [62]:
print(x)

s1

In [63]:
print(y)

2

In [64]:
print(z)

3.0

## Dynamic Typing

In [65]:
# Ex-1
a = 12.0
print(type(a))

<class 'float'>

In [66]:
b = 24
print(type(b))

<class 'int'>

In [67]:
c = 'data'  
print(type(c))

<class 'str'>

In [68]:
print(a * 3)

36.0

In [69]:
print(b * 3)

72

In [71]:
print(c * 3)

datadatadata

## Concatenation between Different types

# Python string concatenation

In Python, Strings are arrays of bytes representing Unicode characters. However, Python does not have a character
data type, a single character is simply a string with a length of 1. Square brackets [] can be used to access 
elements of the string.

In [72]:
# Assign varaible var1 & var2
var1 = "Welcome"
var2 = "statistics"

In [73]:
print(f"{var1} {var2}")

Welcome statistics

# Method 1: String Concatenation using + Operator

In [74]:
# Defining strings
var1 = "Hello "
var2 = "World"

# + Operator is used to combine strings
var3 = var1 + var2
print(var3)

Hello World

Method 2: String Concatenation using join() Method

In [75]:
var1 = "Hello"
var2 = "World"

# join() method is used to combine the strings
print("".join([var1, var2]))

# join() method is used here to combine
# the string with a separator Space(" ")
var3 = " ".join([var1, var2])

print(var3)

HelloWorld
Hello World

Method 3: String Concatenation using % Operator

In [76]:
var1 = "Hello"
var2 = "World"

# % Operator is used here to combine the string
print("% s % s" % (var1, var2))

Hello World

Method 4: String Concatenation using format() function

In [77]:
var1 = "Hello"
var2 = "World"

# format function is used here to
# combine the string
print("{} {}".format(var1, var2))

# store the result in another variable
var3 = "{} {}".format(var1, var2)

print(var3)

Hello World
Hello World

Method 5: String Concatenation using (, comma)

In [78]:
var1 = "Hello"
var2 = "World"

# , to combine data types with a single whitespace.
print(var1, var2)

Hello World