## 30JAN
#### Practice

string format in Python

The format() method formats the specified value(s) and insert them inside the string's placeholder.

The placeholder is defined using curly brackets: {}. Read more about the placeholders in the Placeholder section below.

The format() method returns the formatted string.

In [5]:
## format()
name="krish"
age=32
print("my name {} and age is {}".format(name,age))

my name krish and age is 32

In [6]:
 print("my name is {} and age is {}".format(age,name))

my name is 32 and age is krish

# Placeholder

In [2]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)

In [3]:
txt2 = "My name is {0}, I'm {1}".format("John",36)

In [4]:
txt3 = "My name is {}, I'm {}".format("John",36)

In [7]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age,firstname=name))

My name is krish and age is 32

In [8]:
name="Raje Priya"
age=21
degree="BE"
"My age is 21 and i have completed: my degree of BE with the name of Raje Priya"

'My age is 21 and i have completed: my degree of BE with the name of Raje Priya'

In [9]:
print(f"my age is{age} and i have completed: my degree of {degree} with the name of {name}")

my age is21 and i have completed: my degree of BE with the name of Raje Priya

control flow
Decision making statements
It is kind of making decision occurred situation of program execution and action can be taken according to specified conditions.
Structure of decision making evalute several expressions that provide True or False as a result.
It is upto you to decide which type of action want to take and execute the statements based upon True and False.
These are several topics of decision making which going to discussed below:
1. If
2. if else
3. if elif else
4. Nested if
5. Single Statement Suites

## IF

In [10]:
# Basic IF statement
x = 3
y = 10

if x < y:
    print("x is smaller than y.")

x is smaller than y.

In [11]:
# Ex-2 in complex
x = 3
y = 10
z = None

if x < y:
    z = 13
print(f"Variable z is now {z}.")

Variable z is now 13.

In [13]:
# What happens here?
x = 3
y = 10

if x > y:
    print("x is greater than y.")

## If Else

In [14]:
# else statement
x = 3
y = 10

if x > y:
    print("x is greater than y.")
else:
    print("x is smaller than y.")

x is smaller than y.

In [15]:
# What if the condition is met?
x = 3
y = 10

if x < y:
    print("x is smaller than y.")
else:
    print("x is greater than y.")

x is smaller than y.

In [16]:
# x is equal to y
x = 3
y = 3

if x < y:
    print("x is smaller than y.")
else:
    print("x is greater than y.")

x is greater than y.

x is greater than y.
The output is clearly wrong because 3 is equal to 3! We have another condition outside the greater or less than comparison 
symbols; thus, we have to use the elif statement.

## Elif statement

In [17]:
# x is equal to y with elif statement
x = 3 
y = 3

if x < y:
    print("x is smaller than y.")
elif x == y:
    print("x is equal to y.")
else:
    print("x is greater than y.")

x is equal to y.

In [ ]:
In this example, we’re going to use strings instead of integers to demonstrate the flexibility of the if condition in Python.

In [18]:
# elif condition
tomorrow = "warm"

if tomorrow == "warm":
    print("I'll go to the sea.")
elif tomorrow == "very hot":
    print("I'll go to the forest.")
else:
    print("I'll stay home.")

I'll go to the sea.

Python first checks if the variable tomorrow is equal to “warm” and if it is, then it prints out I'll go to the sea.
and stops the execution. What happens if the first condition isn’t met?

In [19]:
# Tomorrow is very hot
tomorrow = "very hot"

if tomorrow == "warm":
    print("I'll go to the sea.")
elif tomorrow == "very hot":
    print("I'll go to the forest.")
else:
    print("I'll stay home.")

I'll go to the forest.

In [ ]:
In this case, Python evaluates the first condition to False and goes to the second condition.
This condition is True, so it prints out I'll go to the forest. and stops the execution.

If neither of the two conditions is met, then it’ll print out I’ll stay home.

Of course, you can use whatever number of elif statements you want. Let’s add more conditions and also change what is 
printed out under the else statement to Weather not recognized. (for example, if tomorrow is “f”, we don’t know what it
means).

In [20]:
# Several elif conditions
tomorrow = "snowy"

if tomorrow == "warm":
    print("I'll go to the sea.")
elif tomorrow == "very hot":
    print("I'll go to the forest.")
elif tomorrow == "snowy":
    print("I'll build a snowman.")
elif tomorrow == "rainy":
    print("I'll stay home.")
else:
    print("Weather not recognized.")

I'll build a snowman.

In Python, we can use logical operators (i.e., and, or) to use multiple conditions in the same if statement.

In [21]:
# Biome prediction with and logical operator
humidity = "low"
temperature = "high"

if humidity == "low" and temperature == "high":
    print("It's a hot desert.")
elif humidity == "low" and temperature == "low":
    print("It's an arctic desert.")
elif humidity == "high" and temperature == "high":
    print("It's a tropical forest.")
else:
    print("I don't know!")

It's a hot desert.

## Nested If statements

In [ ]:
Python is a very flexible programming language, and it allows you to use if statements inside other if statements,
so called nested if statements. Let’s look at an example.

In [22]:
# Nested if statements
mark =  85

if mark >= 60 and mark <= 100:
    if mark >= 90:
        print("You are the best!")
    elif mark >= 80:
        print("Well done!")
    elif mark >= 70:
        print("You can do better.")
    else:
        print("Pass.")
elif mark > 100:
    print("This mark is too high.")
elif mark < 0:
    print("This mark is too low.")
else:
    print("Failed.")

Well done!

In [24]:
### single statement
val=int(input('Enter the number'))
if(val<=999):print("Value is less than equal to 999")
else:
    print("Go Home")

Enter the number 1000

Go Home

## Loops statements
 1. while loop
 2. for loop
 3. nested loops
 4. loop control(break,continue,pass)

In [25]:
# while loop 
joining_age=25
while joining_age<=60:
    joining_age=joining_age+1
    print(joining_age)
else:
    print("Its time for retirement")

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
Its time for retirement

In [26]:
# program to display numbers from 1 to 5

# initialize the variable
i = 1
n = 5

# while loop from i = 1 to 5
while i <= n:
    print(i)
    i = i + 1

1
2
3
4
5

### Ex-2

In [3]:
# program to calculate the sum of numbers
# until the user enters zero

total = 0

number = int(input('Enter a number: '))

# add numbers until number is zero
while number != 0:
    total += number    # total = total + number
    
    # take integer input again
    number = int(input('Enter a number: '))
    

print('total =', total)

Enter a number:  15
Enter a number:  0

total = 15

In [2]:
# Python While loop with else
counter = 0

while counter < 3:
    print('Inside loop')
    counter = counter + 1
else:
    print('Inside else')

Inside loop
Inside loop
Inside loop
Inside else

In [5]:
counter = 0

while counter < 3:
    # loop ends because of break
    # the else part is not executed 
    if counter == 1:
        break

    print('Inside loop')
    counter = counter + 1
else:
    print('Inside else')

Inside loop

In [6]:
# this loop is iterated 4 times (0 to 3)
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
# For loops
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

This is less like the for keyword in other programming languages, and works more like an iterator method as found in other 
object-orientated programming languages.

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [8]:
# Looping Through a String
for x in "banana":
    print(x)

b
a
n
a
n
a

In [10]:
# The break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [11]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "apple":
    break

apple

In [12]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "cherry":
    break

apple
banana
cherry

In [13]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [14]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry":
    break
  print(x)

apple
banana

In [15]:
# The continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [16]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "cherry":
    continue
  print(x)

apple
banana

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "apple":
    continue
  print(x)

banana
cherry

In [ ]:
# Range function
The range() Function
To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends 
at a specified number.

In [18]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [19]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [20]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [21]:
# Else in For Loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

Note: The else block will NOT be executed if the loop is stopped by a break statement.

In [22]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

## Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop":

In [23]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [24]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(y, y)

apple apple
banana banana
cherry cherry
apple apple
banana banana
cherry cherry
apple apple
banana banana
cherry cherry

In [25]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(y, x)

apple red
banana red
cherry red
apple big
banana big
cherry big
apple tasty
banana tasty
cherry tasty

In [30]:
# The pass Statement
for x in [0, 1, 2]:
pass

IndentationError: expected an indented block after 'for' statement on line 2 (2038130205.py, line 3)

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid 
getting an error.

In [31]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="")

****************************

In [32]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="")
    print("\r")

*
**
***
****
*****
******
*******

In [33]:
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print('*',end="")
    print("\n")

*

**

***

****

*****

******

*******

In [34]:
## loop controls
## Break and continue
fruits_list = ["mango", "cherry", "Apple", "papaya", "Banana"]

In [35]:
for i in fruits_list:
    print(i)

mango
cherry
Apple
papaya
Banana

In [36]:
##break
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        break 
    print(i)

mango
cherry
The fruit is Apple

In [37]:
##pass
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        pass
    print(i)

mango
cherry
The fruit is Apple
Apple
papaya
Banana

In [38]:
##continue
for i in fruits_list:
    if i=="Apple":
        print("The fruit is Apple")
        continue
    print(i)

mango
cherry
The fruit is Apple
papaya
Banana

### OPERATORS
    Arithemetic operators
    Assignment operators
    Comparison operators
    Logical operators
    Identify operators
    Membership operators
    Bitwise operators

### Logical operators

In [39]:
# Logical operators
a = 10
b = 10
c = -10
 
if a > 0 and b > 0:
    print("The numbers are greater than 0")
 
if a > 0 and b > 0 and c > 0:
    print("The numbers are greater than 0")
else:
    print("Atleast one number is not greater than 0")

The numbers are greater than 0
Atleast one number is not greater than 0

In [40]:
# Ex-2
# Python program to demonstrate
# logical and operator
 
a = 10
b = 12
c = 0
 
if a and b and c:
    print("All the numbers have boolean value as True")
else:
    print("Atleast one number has boolean value as False")

Atleast one number has boolean value as False

Note: If the first expression evaluated to be false while using and operator, then the further expressions are not evaluated.

Logical OR operator
Logical or operator returns True if either of the operands is True.

In [41]:
# Python program to demonstrate
# logical or operator
 
a = 10
b = -10
c = 0
 
if a > 0 or b > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")
 
if b > 0 or c > 0:
    print("Either of the number is greater than 0")
else:
    print("No number is greater than 0")

Either of the number is greater than 0
No number is greater than 0

In [42]:
# Ex-2
# Python program to demonstrate
# logical and operator
 
a = 10
b = 12
c = 0
 
if a or b or c:
    print("Atleast one number has boolean value as True")
else:
    print("All the numbers have boolean value as False")

Atleast one number has boolean value as True

Note: If the first expression evaluated to be True while using or operator, then the further expressions are not evaluated.

Logical not operator
Logical not operator work with the single boolean value. If the boolean value is True it returns False and vice-versa.

In [43]:
# Python program to demonstrate
# logical not operator
 
a = 10
 
if not a:
    print("Boolean value of a is True")
 
if not (a%3 == 0 or a%5 == 0):
    print("10 is not divisible by either 3 or 5")
else:
    print("10 is divisible by either 3 or 5")

10 is divisible by either 3 or 5

Order of evaluation of logical operators

In [44]:
# Python program to demonstrate
# order of evaluation of logical
# operators

def order(x):
	print("Method called for value:", x)
	return True if x > 0 else False
	
a = order
b = order
c = order

if a(-1) or b(5) or c(10):
	print("Atleast one of the number is positive")

Method called for value: -1
Method called for value: 5
Atleast one of the number is positive

## Arithematic operators

Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication and division.

There are 7 arithmetic operators in Python :

Addition
Subtraction
Multiplication
Division
Modulus
Exponentiation
Floor division

In [ ]:
1. Addition Operator : In Python, + is the addition operator. It is used to add 2 values.
Example :

In [45]:
val1 = 2
val2 = 3

# using the addition operator
res = val1 + val2
print(res)

5

In [ ]:
2. Subtraction Operator : In Python, – is the subtraction operator. It is used to subtract the second value from the first
value.
Example :

In [46]:
val1 = 2
val2 = 3

# using the subtraction operator
res = val1 - val2
print(res)

-1

In [ ]:
3. Multiplication Operator : In Python, * is the multiplication operator. It is used to find the product of 2 values.
Example :

In [47]:
val1 = 2
val2 = 3

# using the multiplication operator
res = val1 * val2
print(res)

6

In [ ]:
4. Division Operator : In Python, / is the division operator. It is used to find the quotient when first operand is divided
by the second.
Example :

In [48]:
val1 = 3
val2 = 2

# using the division operator
res = val1 / val2
print(res)

1.5

In [ ]:
5. Modulus Operator : In Python, % is the modulus operator. It is used to find the remainder when first operand is 
divided by the second.
Example :

In [49]:
val1 = 3
val2 = 2

# using the modulus operator
res = val1 % val2
print(res)

1

In [ ]:
6. Exponentiation Operator : In Python, ** is the exponentiation operator. It is used to raise the first operand to power
of second.
Example :

In [50]:
val1 = 2
val2 = 3

# using the exponentiation operator
res = val1 ** val2
print(res)

8

In [ ]:
7. Floor division : In Python, // is used to conduct the floor division. It is used to find the floor of the quotient when
first operand is divided by the second.
Example :

In [51]:
val1 = 3
val2 = 2

# using the floor division
res = val1 // val2
print(res)

1

### Comparison Operators

In [ ]:
Operator	     Name	                Example	
   ==	        Equal	                x == y	
   !=	      Not equal	                x != y	
   >	   Greater than	                x > y	
   <       	 Less than        	        x < y	
   >=	Greater than or equal to	    x >= y	
   <=	 Less than or equal to      	x <= y

### Identify Operators

In [ ]:
Operator	                 Description                                 Example	
   is 	      Returns true if both variables are the same object          x is y	
 is not	    Returns true if both variables are not the same object	    x is not y

### Membership operators

In [ ]:
Operator	                         Description	                                        Example
  in 	   Returns True if a sequence with the specified value is present in the object      x in y	
not in 	Returns True if a sequence with the specified value is not present in the object	x not in y

### Bitwise Operators

In [52]:
# Python program to show
# bitwise operators

a = 10
b = 4

# Print bitwise AND operation
print("a & b =", a & b)

# Print bitwise OR operation
print("a | b =", a | b)

# Print bitwise NOT operation
print("~a =", ~a)

# print bitwise XOR operation
print("a ^ b =", a ^ b)

a & b = 0
a | b = 14
~a = -11
a ^ b = 14

In [53]:
# Python program to show
# shift operators
 
a = 10
b = -10
 
# print bitwise right shift operator
print("a >> 1 =", a >> 1)
print("b >> 1 =", b >> 1)
 
a = 5
b = -10
 
# print bitwise left shift operator
print("a << 1 =", a << 1)
print("b << 1 =", b << 1)

a >> 1 = 5
b >> 1 = -5
a << 1 = 10
b << 1 = -20

In [54]:
# Python program to demonstrate
# operator overloading


class Geek():
	def __init__(self, value):
		self.value = value

	def __and__(self, obj):
		print("And operator overloaded")
		if isinstance(obj, Geek):
			return self.value & obj.value
		else:
			raise ValueError("Must be a object of class Geek")

	def __or__(self, obj):
		print("Or operator overloaded")
		if isinstance(obj, Geek):
			return self.value | obj.value
		else:
			raise ValueError("Must be a object of class Geek")

	def __xor__(self, obj):
		print("Xor operator overloaded")
		if isinstance(obj, Geek):
			return self.value ^ obj.value
		else:
			raise ValueError("Must be a object of class Geek")

	def __lshift__(self, obj):
		print("lshift operator overloaded")
		if isinstance(obj, Geek):
			return self.value << obj.value
		else:
			raise ValueError("Must be a object of class Geek")

	def __rshift__(self, obj):
		print("rshift operator overloaded")
		if isinstance(obj, Geek):
			return self.value >> obj.value
		else:
			raise ValueError("Must be a object of class Geek")

	def __invert__(self):
		print("Invert operator overloaded")
		return ~self.value


# Driver's code
if __name__ == "__main__":
	a = Geek(10)
	b = Geek(12)
	print(a & b)
	print(a | b)
	print(a ^ b)
	print(a << b)
	print(a >> b)
	print(~a)

And operator overloaded
8
Or operator overloaded
14
Xor operator overloaded
6
lshift operator overloaded
40960
rshift operator overloaded
0
Invert operator overloaded
-11