## PYTHON BOOLEANS

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [2]:
# Ex-
# Print a message based on whether the condition is True or False:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [4]:
# Evaluate Values and Variables
print(bool("Hello"))
print(bool("15"))

True
True

In [5]:
x = "Hello"
y = "15"
print(bool(x))
print(bool(y))

True
True

In [6]:
bool("abc")
bool(123)
bool(["apple", "banana", "cherry"])

True

In [7]:
# Some Values are False
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [15]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [16]:
# Functions can Return a Boolean
def myFunction() :
    return True

print(myFunction())

True

In [17]:
# Print "YES!" if the function returns True, otherwise print "NO!":
def myFunction():
    return True

if myFunction():
    print("YES!")
else:
    print("NO!")

YES!

In [18]:
# Check if an object is an integer or not:
x = 200
print(isinstance(x, int))

True

### PYTHON OPERATORS

In [19]:
print(10+5)

15

#### ARITHMETIC OPERATORS

In [21]:
# Addition
x = 5
y = 3
print(x+y)

8

In [22]:
# Subtraction
print(x-y)

2

In [23]:
# Multiplication
print(x*y)

15

In [24]:
# Division
print(x/y)

1.6666666666666667

In [25]:
# Modulus
print(x%y)

2

In [27]:
# Exponentiation
print(x ** y)

125

In [28]:
# FloorDivision
print(x//y)

1

#### ASSIGNMENT OPERATORS

In [29]:
# Ex-1
x = 5
print(x)

5

In [30]:
#Ex-2
x = 5
x +=3
print(x)

8

In [32]:
# Ex-3
x = x - 3
print(x)

2

In [33]:
# Ex-4
x = 5
x = x*3
print(x)

15

In [35]:
# Ex-5
x = 5
x = x/3
print(x)

1.6666666666666667

In [36]:
# Ex-6
x = 5
x = x%3
print(x)

2

In [37]:
# Ex-7
x = 5
x = x//3
print(x)

1

In [38]:
# Ex-8
x = 5
x = x**3
print(x)

125

In [39]:
# Ex-9
x = 5
x = x&3
print(x)

1

In [40]:
# Ex-10
x = 5
x = x|3
print(x)

7

In [42]:
# Ex-11
x = 5
x = x^3
print(x)

6

In [43]:
#Ex-12
x = 5
x = x>>3
print(x)

0

In [44]:
#Ex-13
x = 5
x = x<<3
print(x)

40

#### LOGICAL OPERATORS

In [46]:
# end
x = 5
print(x > 3 and x < 10)
# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [48]:
# or
x = 5
print(x > 3 or x < 4)
# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [49]:
# not
x = 5
print(not(x > 3 and x < 10))
# returns False because not is used to reverse the result

False

#### IDENTIFY OPERATORS

In [50]:
# is
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [52]:
print(x is z)
# returns True because z is the same object as x

True

In [53]:
print(x is y)

# returns False because x is not the same object as y, even if they have the same content

False

In [54]:
print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True

In [55]:
# is not
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

In [56]:
print(x is not z)

# returns False because z is the same object as x

False

In [57]:
print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

True

In [58]:
print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False

#### MEMBERSHIP OPERATORS

In [59]:
# in
x = ["apple", "banana"]
print("banana" in x)
# returns True because a sequence with the value "banana" is in the list

True

In [60]:
# not in
x = ["apple", "banana"]

print("pineapple" not in x)

# returns True because a sequence with the value "pineapple" is not in the list

True

#### BITWISE OPERATORS

In [61]:
# & AND
print(6&3)

2

In [62]:
# | OR
print(6 | 3)

7

In [63]:
# ^ XOR
print(6^3)

5

In [65]:
# ~ NOT
print(~3)

-4

In [66]:
# >> signed right shift
print(3 >> 2)

0

In [67]:
# << Zero fill left shift
print(3 << 2)

12

#### Operator precedence

In [71]:
# Parentheses
print((6 + 3) - (6 + 3))

0

In [70]:
print(100 + 5*3)

115

In [72]:
# Exponentiation
print(100 - 3 ** 3)

73

In [73]:
# Unary plus, unary minus, and bitwise NOT +x  -x  ~x
print(100 + ~3)

96

In [74]:
# Multiplication, division, floor division, and modulus *  /  //  %
print(100 + 5 * 3)

115

In [75]:
# 	Addition and subtraction +  -
print(100 - 5 * 3)

85

In [76]:
# <<  >>	Bitwise left and right shifts
print(8 >> 4 - 2)

2

In [77]:
# & Bitwise AND
print(6 & 2 + 1)

2

In [78]:
# ^ Bitwise XOR
print(6 ^ 2 + 1)

5

In [79]:
# | Bitwise OR
print(6 | 2 + 1)

7

In [80]:
# ==  !=  >  >=  <  <=  is  is not  in  not in 	Comparisons, identity, and membership operators
print(5 == 4 + 1)

True

In [81]:
# not	Logical NOT
print(not 5 == 5)

False

In [82]:
# and	AND
print(1 or 2 and 3)

1

In [83]:
# or	OR
print(4 or 5 + 10 or 8)

4

In [84]:
print(5 + 4 - 7 + 3)

5

## PYTHON LISTS

In [85]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [87]:
# Allow duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [88]:
# List Length
thislist = ["apple", "banana", "cherry"]
print(len(thislist))

3

In [89]:
# List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = ["True", "False", "False"]
print(list1)
print(list2)
print(list3)

['apple', 'banana', 'cherry']
[1, 5, 7, 9, 3]
['True', 'False', 'False']

In [91]:
list1 = ["abc", 34, True, 40, "male"]
print(list1)

['abc', 34, True, 40, 'male']

In [92]:
# type()
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [93]:
# The list() Constructor
thislist = list(("apple", "banana", "cherry"))
print(thislist)

['apple', 'banana', 'cherry']

#### Python - Access List Items

In [94]:
thislist = ["apple", "banana", "cherry"]
print(thislist[1])

banana

In [95]:
# Negative Indexing
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [96]:
# Range of Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [97]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [98]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [99]:
# Range of Negative Indexes
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [100]:
# Check if Item Exists
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
    print("yes, 'apple' is in the fruits list")

yes, 'apple' is in the fruits list

#### Python - Change List Items

In [101]:
# Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrant"
print(thislist)

['apple', 'blackcurrant', 'cherry']

In [102]:
#Change a Range of Item Values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [103]:
thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'cherry']

In [104]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon']

In [105]:
# Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

#### Python - Add List Items

In [106]:
# Append items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [107]:
# Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [108]:
# Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [109]:
# Add Any Iterable
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#### Python - Remove List Items

In [110]:
# Remove Specified Item
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [111]:
# Remove Specified Index
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [112]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [113]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [116]:
thislist = ["apple", "banana", "cherry"]
del thislist

In [117]:
# Clear the List
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

#### Python - Loop Lists

In [118]:
# Loop Through a List
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [119]:
# Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [121]:
# Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

In [123]:
# Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

#### Python - List Comprehension

In [126]:
# List Comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'banana', 'mango']

In [127]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [129]:
# the syntax
newlist = [x for x in fruits if x != "apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [131]:
newlist = [x for x in fruits]
print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [132]:
# Iterable
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [133]:
newlist = [x for x in range(10) if x < 5]
print(newlist)

[0, 1, 2, 3, 4]

In [134]:
# Expression
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [135]:
newlist = ['hello' for x in fruits]
print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [137]:
newlist = [x if x!= "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

#### Python - Sort Lists

In [138]:
# Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [139]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [143]:
# Sort Descending
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [144]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [146]:
# Customize Sort Function
def myfunc(n):
    return abs(n - 50)
 
thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [147]:
# Case Insensitive Sort
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [148]:
# Reverse Order
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

#### Python - Copy Lists

In [149]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [150]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### Python - Join Lists

In [151]:
# Join Two Lists
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [152]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
    
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [153]:
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

#### PYTHON LIST METHODS

In [154]:
# append
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [155]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

In [156]:
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [157]:
print(b)

['Ford', 'BMW', 'Volvo']

In [158]:
# Python List clear() Method
fruits = ['apple', 'banana', 'cherry', 'orange']
fruits.clear()
print(fruits)

[]

In [159]:
# Python List copy() Method
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [160]:
# Python List count() Method
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)

1

In [161]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
print(x)

2

In [164]:
# Python List extend() Method
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)
print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [165]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [166]:
# Python List index() Method
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [167]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

3

In [168]:
# Python List insert() Method
fruits = ['apple', 'banana', 'cherry']
fruits.insert(1, "orange")

In [169]:
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [171]:
# Python List pop() Method
fruits = ['apple', 'banana', 'cherry']
fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [172]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)
print(x)

banana

In [173]:
# Python List remove() Method
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [174]:
# Python List reverse() Method
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [175]:
# Python List sort() Method
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [176]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [178]:
# A function that returns the length of the value:
def myfunc(e):
    return len(e)
cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']
cars.sort(key=myfunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [179]:
# A function that returns the 'year' value:
def myFunc(e):
    return e['year']

cars = [
    {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]
cars.sort(key=myFunc)

In [180]:
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [181]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

## PYTHON TUPLES

In [1]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [2]:
# Tuples allow duplicate values:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [3]:
# Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [4]:
# Create Tuple With One Item
thistuple = ("apple",)
print(type(thistuple))

<class 'tuple'>

In [5]:
thistuple = ("apple")
print(type(thistuple))

<class 'str'>

In [6]:
# Tuple Items - Data Types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1)
print(tuple2)
print(tuple3)

('apple', 'banana', 'cherry')
(1, 5, 7, 9, 3)
(True, False, False)

In [7]:
# A tuple with strings, integers and boolean values:
tuple1 = ("abc", 35, True, 40, "male")
print(tuple1)

('abc', 35, True, 40, 'male')

In [8]:
# type()
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [9]:
# The tuple() Constructor
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [10]:
# Python - Access Tuple Items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [11]:
# Negative Indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [12]:
# Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [13]:
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [14]:
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [15]:
# Range of Negative Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [16]:
# Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

#### Python - Update Tuples

In [18]:
# Change Tuple Values
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [19]:
# Add Items
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [20]:
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [21]:
#  Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [22]:
# Remove Items
# You cannot remove items in a tuple.
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [23]:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)
#  #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

#### Python - Unpack Tuples

In [24]:
fruits = ("apple", "banana", "cherry")
print(fruits)

('apple', 'banana', 'cherry')

In [25]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [26]:
# Using Asterisk*
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [27]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [28]:
# Python - Loop Tuples
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [29]:
# Loop Through the Index Numbers
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [30]:
# Using a While Loop
thistuple = ("apple", "banana", "cherry")
i = 0
while i < len(thistuple):
    print(thistuple[i])
    i = i + 1

apple
banana
cherry

In [31]:
# Python - Join Tuples
# Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [32]:
# Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [33]:
# Python - Tuple Methods
# count
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)

2

In [34]:
# index
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.index(8)
print(x)

3