## PYTHON FUNCTIONS

In [2]:
# Creating a Function
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

In [5]:
# Arguments
def my_function(fname):
    print(fname + " Refsnes")

my_function("Email")
my_function("Tobias")
my_function("Linus")

Email Refsnes
Tobias Refsnes
Linus Refsnes

In [6]:
# Arguments are often shortened to args in Python documentations.

In [7]:
# Number of Arguments
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Email", "Refsnes")

Email Refsnes

In [8]:
# This function expects 2 arguments, but gets only 1:
def my_function(fname, lname):
    print(fname + " " + lname)
my_function("Emil")

TypeError: my_function() missing 1 required positional argument: 'lname'

In [9]:
# Arbitrary Arguments, *args
def my_function(*kids):
    print("The youngest child is " + kids[2])
my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [10]:
# Keyword Arguments
def my_function(child3, child2, child1):
    print("The youngest child is " + child3)
my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [11]:
# Arbitrary Keyword Arguments, **kwargs
def my_function(**kid):
    print("His last name is " + kid["lname"])

my_function(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

In [12]:
# Default Parameter Value
def my_function(country = "Norway"):
    print("I am from " + country)
    
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [14]:
# Passing a List as an Argument
def my_function(food):
    for x in food:
        print(x)
fruits = ["apple", "banana", "cherry"]

my_function(fruits)

apple
banana
cherry

In [15]:
# Return Values
def my_function(x):
    return 5 * x
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [19]:
# The pass Statement
def myfunction():
  pass
# having an empty function definition like this, would raise an error without the pass statement

In [21]:
# Recursion
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21

## PYTHON LAMBDA

In [22]:
x = lambda a : a + 10
print(x(5))

15

In [23]:
# Lambda functions can take any number of arguments:
x = lambda a, b : a * b
print(x(5,6))

30

In [24]:
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

13

In [26]:
def my_func(n):
    return lambda a : a * n
# Use that function definition to make a function that always doubles the number you send in:

In [29]:
def my_func(n):
  return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [34]:
def myfunc(n):
  return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [35]:
def myfunc(n):
    return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(11))
print(mytripler(11))

22
33

## PYTHON ARRAYS

In [37]:
cars = ["Ford", "Volvo", "BMW"]
car1 = "Ford"
car2 = "Volvo"
car3 = "BMW"
x = cars[0]
print(x)

Ford

In [38]:
cars[0] = "Toyota"

In [39]:
x = len(cars)

In [40]:
cars = ["Ford", "Volvo", "BMW"]

for x in cars:
  print(x)

Ford
Volvo
BMW

In [41]:
cars.append("Honda")
print(cars)

['Ford', 'Volvo', 'BMW', 'Honda']

In [42]:
#Removing Array Elements
cars.pop(1)

'Volvo'

In [44]:
cars = ["Ford", "Volvo", "BMW"]

cars.remove("Volvo")

print(cars)

['Ford', 'BMW']

In [46]:
# Array Methods
# Python List append() Method
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [48]:
a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)
print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

In [49]:
# Python List clear() Method
fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()
print(fruits)

[]

In [50]:
# Python List copy() Method
fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()
print(x)

['apple', 'banana', 'cherry', 'orange']

In [51]:
# Python List count() Method
fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")
print(x)

1

In [52]:
points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)
print(x)

2

In [53]:
#Python List extend() Method
fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [54]:
fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)
print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

In [55]:
# Python List index() Method
fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")
print(x)

2

In [56]:
fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)
print(x)

3

In [57]:
# Python List insert() Method
fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [58]:
# Python List pop() Method
fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)
print(fruits)

['apple', 'cherry']

In [59]:
fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)
print(x)

banana

In [60]:
# Python List remove() Method
fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [61]:
# Python List reverse() Method
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()
print(fruits)

['cherry', 'banana', 'apple']

In [62]:
# Python List sort() Method
cars = ['Ford', 'BMW', 'Volvo']

cars.sort()
print(cars)

['BMW', 'Ford', 'Volvo']

In [63]:
cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)
print(cars)

['Volvo', 'Ford', 'BMW']

In [64]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)
print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [65]:
# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)
print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [66]:
# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)
print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']

## PYTHON CLASSES AND OBJECTS

In [68]:
# To create a class
class MyClass:
  x = 5

print(MyClass)

<class '__main__.MyClass'>

In [70]:
# Create Object
class MyClass:
  x = 5

p1 = MyClass()
print(p1.x)

5

In [73]:
# The __init__() Function
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Raje", 21)

print(p1.name)
print(p1.age)

Raje
21

In [74]:
# The __str__() Function
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("Raje", 21)

print(p1)

<__main__.Person object at 0x000001C2E4DFB640>

In [75]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def __str__(self):
        return f"{self.name}({self.age})"
p1 = Person("Raje", 21)
print(p1)

Raje(21)

In [76]:
# Object Methods
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [77]:
# The self Parameter
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is " + abc.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John

In [79]:
# Modify Object Properties
p1.age = 40
print(p1.age)

40

In [82]:
# Delete Object Properties
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1.age

print(p1.age)

AttributeError: 'Person' object has no attribute 'age'

In [85]:
# Delete Objects
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)

del p1

print(p1)

NameError: name 'p1' is not defined

In [86]:
# The pass Statement
class Person:
  pass

# having an empty class definition like this, would raise an error without the pass statement

## PYTHON INHERITANCE

In [94]:
# Create a Parent Class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

#Use the Person class to create an object, and then execute the printname method:

x = Person("John", "Doe")
x.printname()

John Doe

In [96]:
# Create a Child Class
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  pass

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [97]:
# Add the __init__() Function
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    Person.__init__(self, fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [101]:
# Use the super() Function
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)

x = Student("Mike", "Olsen")
x.printname()

Mike Olsen

In [102]:
# Add Properties
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname, lname)
    self.graduationyear = 2019

In [103]:
x = Student("Mike", "Olsen")
print(x.graduationyear)

2019

In [104]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

class Student(Person):
  def __init__(self, fname, lname, year):
    super().__init__(fname, lname)
    self.graduationyear = year

x = Student("Mike", "Olsen", 2019)
print(x.graduationyear)

2019

In [106]:
# Add Methods
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname
    def printname(self):
        print(self.firstname,self.lastname)
        
class Student(Person):
    def __init__(self, fname, lname, year):
        super().__init__(fname,lname)
        self.graduationyear = year
    def welcome (self):
        print("Welcome", self.firstname, self.lastname, "to the class off", self.graduationyear)

x = Student("Mike", "Oslen", 2019)
x.welcome()

Welcome Mike Oslen to the class off 2019