## PYTHON SETS

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
# Duplicates Not Allowed
# Sets cannot have two items with the same value.
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [3]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'banana', 'cherry', 'apple'}

In [4]:
# Get the Length of a Set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [5]:
# Set Items - Data Types
# String, int and boolean data types:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [1]:
# Duplicates Not Allowed
# Sets cannot have two items with the same value.
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [2]:
thisset = {"apple", "banana", "cherry", True, 1, 2}
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [3]:
# to Get the Length of a Set
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [4]:
# Set Items - Data Types
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'cherry', 'banana', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

In [5]:
# type()
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [6]:
# The set() Constructor
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'banana', 'apple'}

In [7]:
# Python - Access Set Items
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

cherry
banana
apple

In [8]:
# Check if "banana" is present in the set:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [9]:
# Python - Add Set Items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [10]:
# Add Sets
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'banana', 'apple', 'pineapple', 'mango', 'papaya'}

In [11]:
# Add Any Iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'kiwi', 'banana', 'cherry', 'apple'}

In [12]:
# Python - Remove Set Items
thisset = {"apple", "banana", "cherry"}
thisset.remove("cherry")
print(thisset)

{'banana', 'apple'}

In [13]:
# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [14]:
# Remove a random item by using the pop() method:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

cherry
{'banana', 'apple'}

In [ ]:
# Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [18]:
# The clear() method empties the set:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset) #this will raise an error because the set no longer exists

NameError: name 'thisset' is not defined

In [19]:
# Python - Loop Sets
thisset = {"apple", "banana", "cherry"}
for x in thisset:
    print(x)

cherry
banana
apple

In [20]:
# Python - Join Sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 'b', 'a', 2, 3, 'c'}

In [21]:
# The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 'b', 'a', 2, 3, 'c'}

In [22]:
# Both union() and update() will exclude any duplicate items.

In [23]:
# Keep ONLY the Duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
print(x)
# The intersection() method will return a new set, that only contains the items that are present in both sets.

{'apple'}

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.intersection(y)
print(z)

{'apple'}

In [25]:
# Keep All, But NOT the Duplicates
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)

{'google', 'banana', 'microsoft', 'cherry'}

In [26]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'google', 'banana', 'microsoft', 'cherry'}

In [28]:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{'google', 2, 'banana', 'cherry'}

#### Python - Set Methods

In [29]:
# Python Set add() Method
fruits = {"apple", "banana", "cherry"}
fruits.add("orange")
print(fruits)

{'orange', 'cherry', 'banana', 'apple'}

In [30]:
fruits = {"apple", "banana", "cherry"}
fruits.add("apple")
print(fruits)

{'cherry', 'banana', 'apple'}

In [31]:
# Python Set clear() Method
fruits = {"apple", "banana", "cherry"}
fruits.clear()
print(fruits)

set()

In [32]:
# Python Set copy() Method
fruits = {"apple", "banana", "cherry"}
x = fruits.copy()
print(x)

{'cherry', 'banana', 'apple'}

In [33]:
# Python Set difference() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [34]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = y.difference(x)
print(z)

{'google', 'microsoft'}

In [35]:
# Python Set difference_update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.difference_update(y)
print(x)

{'cherry', 'banana'}

In [36]:
# Python Set discard() Method
fruits = {"apple", "banana", "cherry"}
fruits.discard("banana")
print(fruits)

{'cherry', 'apple'}

In [37]:
# Python Set intersection() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [38]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}
result = x.intersection(y,z)
print(result)

{'c'}

In [39]:
# Python Set intersection_update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [40]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [43]:
# Python Set isdisjoint() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)
print(z)

True

In [44]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [45]:
# Python Set issubset() Method
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [46]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

In [47]:
# Python Set issuperset() Method
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [48]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

In [49]:
# Python Set pop() Method
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'apple'}

In [50]:
fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

cherry

In [51]:
# Python Set remove() Method
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

In [52]:
# Python Set symmetric_difference() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'microsoft', 'cherry'}

In [53]:
# Python Set symmetric_difference_update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

In [54]:
# Python Set union() Method

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'google', 'cherry', 'banana', 'apple', 'microsoft'}

In [55]:
x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'e', 'f', 'b', 'a', 'd', 'c'}

In [56]:
# Python Set update() Method
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'google', 'cherry', 'banana', 'apple', 'microsoft'}

## DICTIONARIES

In [57]:
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}

In [58]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [59]:
# Dictionary Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [60]:
# Duplicates Not Allowed
# Dictionaries cannot have two items with the same key:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [61]:
print(len(thisdict))

3

In [63]:
# Dictionary Items - Data Types
# String, int, boolean, and list data types:
thisdict = {
    "brand" : "Ford",
    "electric" : False,
    "year" : 1964,
    "colors" : ["red", "white", "blue"]
}
print(thisdict)

{'brand': 'Ford', 'electric': False, 'year': 1964, 'colors': ['red', 'white', 'blue']}

In [64]:
# type()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [65]:
# The dict() Constructor
# Using the dict() method to make a dictionary:
thisdict = dict(name = "Raje", age = 21, country = "India")
print(thisdict)

{'name': 'Raje', 'age': 21, 'country': 'India'}

In [67]:
# Python - Access Dictionary Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [68]:
# There is also a method called get() that will give you the same result:
x = thisdict.get("model")
print(x)

Mustang

In [69]:
# Get Keys
# The keys() method will return a list of all the keys in the dictionary.
x = thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [71]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.keys()
print(x) # before the change
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [73]:
# Get Values
# The values() method will return a list of all the values in the dictionary.
x = thisdict.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [74]:
car = {
    "brand" : "Ford",
    "model" : "Mustang",
    "year" : 2000
}
x = car.values()
print(x)
car["year"] = 2020
print(x) #after change

dict_values(['Ford', 'Mustang', 2000])
dict_values(['Ford', 'Mustang', 2020])

In [75]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.values()
print(x) #before the change
car["color"] = "red"
print(x) #after the change

dict_values(['Ford', 'Mustang', 1964])
dict_values(['Ford', 'Mustang', 1964, 'red'])

In [77]:
# Get Items
# The items() method will return each item in a dictionary, as tuples in a list.
x = thisdict.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [79]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["year"] = 2020

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [80]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change

car["color"] = "red"

print(x) #after the change

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'red')])

In [81]:
# Check if Key Exists
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [82]:
# Python - Change Dictionary Items
# Change Values
# You can change the value of a specific item by referring to its key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2000
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

In [84]:
# Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year" : 2000})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2000}

In [85]:
# Python - Add Dictionary Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [86]:
# Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color" : "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [87]:
# Python - Remove Dictionary Items
# Removing Items pop()
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [88]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [89]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [90]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [91]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [92]:
# Python - Loop Dictionaries
# Loop Through a Dictionary
thisdict =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict:
    print(x)

brand
model
year

In [93]:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
1964

In [94]:
for x in thisdict.values():
    print(x)

Ford
Mustang
1964

In [97]:
for x in thisdict.keys():
  print(x)

brand
model
year

In [101]:
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 1964

In [102]:
# Python - Copy Dictionaries
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [103]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [110]:
# Python - Nested Dictionaries
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [111]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}
myfamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [112]:
# Access Items in Nested Dictionaries
print(myfamily["child2"]["name"])

Tobias

In [113]:
# Python Dictionary Methods
# Python Dictionary clear() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.clear()
print(car)

{}

In [114]:
# Python Dictionary copy() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.copy()
print(x)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [117]:
# Python Dictionary fromkeys() Method
x = ('key1', 'key2', 'key3')
y = 0
thisdict = dict.fromkeys(x,y)
print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [119]:
x = ('key1', 'key2', 'key3')
thisdict = dict.fromkeys(x)
print(thisdict)

{'key1': None, 'key2': None, 'key3': None}

In [120]:
# Python Dictionary get() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("model")
print(x)

Mustang

In [121]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.get("price", 15000)
print(x)

15000

In [122]:
# Python Dictionary items() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])

In [123]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.items()
car["year"] = 2000
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2000)])

In [124]:
# Python Dictionary keys() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [125]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.keys()
car["color"] = "white"
print(x)

dict_keys(['brand', 'model', 'year', 'color'])

In [126]:
# Python Dictionary pop() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.pop("model")
print(car)

{'brand': 'Ford', 'year': 1964}

In [127]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.pop("model")

print(x)

Mustang

In [128]:
# Python Dictionary popitem() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [129]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.popitem()

print(x)

('year', 1964)

In [130]:
# Python Dictionary setdefault() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("model","Bronco")
print(x)

Mustang

In [131]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.setdefault("color", "white")
print(x)

white

In [ ]:
# Python Dictionary update() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
car.update({"color" : "white"})

In [132]:

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [133]:
# Python Dictionary values() Method
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.values()
print(x)

dict_values(['Ford', 'Mustang', 1964])

In [134]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = car.values()
car["year"] = 2000
print(x)

dict_values(['Ford', 'Mustang', 2000])

## PYTHON IF ELSE ...

In [135]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [139]:
a = 33
b = 200

if b > a:
print("b is greater than a")
# f statement, without indentation (will raise an error):

IndentationError: expected an indented block (3902740997.py, line 5)

In [143]:
# Elif
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
        print("a and b are equal")

a and b are equal

In [144]:
# Else
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [145]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [146]:
# Short Hand If
if a > b: print("a is greater than b")

a is greater than b

In [148]:
# Short Hand If ... Else
a = 2
b = 330
print("A") if a > b else print ("B")

B

In [149]:
a = 330
b = 330
print("A") if a > b else print("=") if a==b else print("B")

=

In [150]:
# And
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are Ture")

Both conditions are Ture

In [151]:
# Or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [152]:
# Not
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [153]:
# Nested If
x = 41
if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but not above 20.")

Above ten,
and also above 20!

In [158]:
# The pass Statement
a = 33
b = 200
if b > a:
    pass

## PYTHON WHILE LOOPS

In [1]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [2]:
# The break Statement
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i +=1

1
2
3

In [3]:
# The continue Statement
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [4]:
# The else Statement
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## FOR LOOPS

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [6]:
# Looping Through a String
for x in "banana":
    print(x)

b
a
n
a
n
a

In [7]:
# The break Statement
fruits = ["apple", "banana", "cherry"] 
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [8]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [9]:
# The continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [10]:
# The range() Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [11]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [12]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [13]:
# Else in For Loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [14]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [15]:
# Nested Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [17]:
# The pass Statement
for x in [0, 1, 2]:
  pass