In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Cheers, Mate!")

Cheers, Mate!

### Python Variables

In [4]:
x = 5
y = "John"
print(x)
print(y)

5
John

In [8]:
x = 5
x = "Sally"
print(x)

Sally

In [9]:
# Casting
x = str(3)
y = int(3)
z = float(3)

In [10]:
print(x)
print(y)
print(z)

3
3
3.0

In [11]:
#You can get the data type of a variable with the type() function.
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [12]:
x = "John"

In [13]:
x

'John'

In [14]:
a = 4
A = "Sally"

In [15]:
a

4

In [16]:
A

'Sally'

In [17]:
print(a)

4

In [18]:
print(A)

Sally

In [20]:
# Python - Variable Names
# legal variable names
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [21]:
print(myvar)

John

In [23]:
# Illegal Variable Names
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (840332011.py, line 2)

In [24]:
# Camel Case
#Each word, except the first, starts with a capital letter:
MyVariableName = "Raje"

In [25]:
print(MyVariableName)

Raje

In [26]:
# Pascal Case
# Each word starts with a capital letter:
MyVariableName = "John"

In [28]:
print(MyVariableName)

John

In [29]:
# Snake Case
# Each word is separated by an underscore character:
my_variable_name = "John"

In [30]:
print(my_variable_name)

John

In [31]:
# Built-in data types
# the data type of the variable x:
x = 5
print(type(x))

<class 'int'>

In [57]:
# Setting the data type
x = "Hello World"
# 'str'

In [58]:
print(x)

Hello World

In [59]:
print(type(x))

<class 'str'>

In [60]:
# 'int'
x = 20

In [61]:
print(x)

20

In [62]:
print(type(x))

<class 'int'>

In [63]:
# 'float'
x = 20.5

In [64]:
print(x)

20.5

In [65]:
print(type(x))

<class 'float'>

In [66]:
# complex
x = 1j

In [67]:
print(x)

1j

In [68]:
print(type(x))

<class 'complex'>

In [69]:
# list
x = ["Apple", "Banana", "Cherry"]

In [70]:
print(x)

['Apple', 'Banana', 'Cherry']

In [71]:
print(type(x))

<class 'list'>

In [72]:
# tuple
x = ("Apple", "Banana", "Cherry")

In [73]:
print(x)

('Apple', 'Banana', 'Cherry')

In [74]:
print(type(x))

<class 'tuple'>

In [75]:
# range
x = range(6)

In [76]:
print(x)

range(0, 6)

In [77]:
print(type(x))

<class 'range'>

In [78]:
# dict
x = {"name" : "John", "age" : 36}

In [79]:
print(x)

{'name': 'John', 'age': 36}

In [80]:
print(type(x))

<class 'dict'>

In [81]:
# Set
x = {"Apple", "Banana", "Cherry"}

In [82]:
print(x)

{'Banana', 'Cherry', 'Apple'}

In [83]:
print(type(x))

<class 'set'>

In [84]:
# Bool
x = True

In [85]:
print(x)

True

In [86]:
print(type(x))

<class 'bool'>

In [87]:
x = b"Hello"

In [88]:
print(x)

b'Hello'

In [89]:
print(type(x))

<class 'bytes'>

In [91]:
x = bytearray(5)

In [92]:
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [93]:
print(type(x))

<class 'bytearray'>

In [95]:
x =  memoryview(bytes(5))

In [96]:
print(x)

<memory at 0x000001782131F1C0>

In [97]:
print(type(x))

<class 'memoryview'>

In [98]:
x = None

In [99]:
print(x)

None

In [100]:
print(type(x))

<class 'NoneType'>

In [101]:
# Setting the specific data
x = str("Hello World")

In [102]:
print(x)

Hello World

In [103]:
print(type(x))

<class 'str'>

In [104]:
x = int(20)

In [105]:
print(x)

20

In [106]:
x = float(20.5)

In [107]:
print(x)

20.5

In [108]:
x = complex(1j)

In [109]:
print(x)

1j

In [110]:
x = list(("apple", "Banana", "Cherry"))

In [111]:
print(x)

['apple', 'Banana', 'Cherry']

In [112]:
x = tuple(("apple", "banana", "Cherry"))

In [113]:
print(x)

('apple', 'banana', 'Cherry')

In [114]:
x = range(6)

In [115]:
print(x)

range(0, 6)

In [116]:
x = dict(name="John", age=36)

In [117]:
print(x)

{'name': 'John', 'age': 36}

In [118]:
x = set(("apple", "banana", "cherry"))

In [119]:
print(x)

{'apple', 'banana', 'cherry'}

In [121]:
x = frozenset(("apple", "banana", "cherry"))

In [122]:
print(x)

frozenset({'apple', 'banana', 'cherry'})

In [123]:
x = bool(5)

In [124]:
print(5)

5

In [125]:
x = bytes(5)

In [126]:
print(x)

b'\x00\x00\x00\x00\x00'

In [127]:
x = bytearray(5)

In [128]:
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [131]:
x = memoryview(bytes(5))

In [132]:
print(x)

<memory at 0x000001782131D040>

### Python casting
#### To specifiy a variable

In [1]:
# int
x = int(1)
y = int(2.8)
z = int("3")

In [2]:
print(x)
print(y)
print(z)

1
2
3

In [3]:
# floats
x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")

In [4]:
print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [5]:
# Str
x = str("s1")
y = str(2)
z = str(3.0)

In [6]:
print(x)
print(y)
print(z)

s1
2
3.0

### PYTHON STRINGS

In [7]:
print("Hello")

Hello

In [8]:
print('Hello')

Hello

In [9]:
# Assign tring to a variable
a = "Hello"
print(a)

Hello

In [10]:
# Multiline strings
# three double quotes:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""

In [11]:
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [12]:
# three single quotes:
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

### string arrays

In [13]:
# Get the character at position 1 (remember that the first character has the position 0):
a = "Hello World!"
print(a[1])

e

In [14]:
print(a[4])

o

In [15]:
print(a[5])
print(a[8])

r

In [16]:
# Looping through a string
for x in "banana":
    print(x)

b
a
n
a
n
a

In [17]:
# string length
a = "Hello World!"
print(len(a))

12

In [18]:
a = "Raje Priya"
print(len(a))

10

In [19]:
# check string
txt = "The best things in life are free!"
print("free" in txt)

True

In [21]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [22]:
# check if not
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [23]:
txt = "The best things in life are free!"
if "expensive" not in txt:
    print("No        , 'expensive' is NOT present.")

No, 'expensive' is NOT present.

In [24]:
# Slicing Strings
b = "Hello World"
print(b[2:5])

llo

In [25]:
print(b[5:5])

In [26]:
print(b[2:11])

llo World

In [27]:
# Slice from the start
print(b[:5])

Hello

In [29]:
print(b[:9])

Hello Wor

In [30]:
print(b[:-5])

Hello

In [32]:
# Slice to the end
b = "Hello, World!"

In [33]:
print(b[2:])

llo, World!

In [34]:
# Negative Indexing
print(b[-5:-2])

orl

In [35]:
print(b[-8:-5])

, W

In [36]:
# Modify Strings
# Upper case
print(a.upper())

RAJE PRIYA

In [39]:
x = "raje priya"

In [40]:
print(a.upper())

RAJE PRIYA

In [41]:
# Lower case
print(a.lower())

raje priya

In [ ]:
# Remove whitespace
The strip() method removes any whitespace from the beginning or the end:

In [42]:
print(a.strip())

Raje Priya

In [44]:
# Replace string
a = "Hello World!"

In [45]:
print(a.replace("H", "J"))

Jello World!

In [46]:
print(a)

Hello World!

In [47]:
print(a.replace("W", "R"))

Hello Rorld!

In [48]:
# Split strings
print(a.split(","))

['Hello World!']

### String concatenation

In [49]:
# Merge variable a with variable b into variable c:
a = "Hello"
b = "World"
c = a + b

In [50]:
print(c)

HelloWorld

In [51]:
# To add a space between them
c = a + " " + b

In [52]:
print(c)

Hello World

In [54]:
### Format strings
# the Python Variables chapter, we cannot combine strings and numbers like this:
age = 21
txt = "My name is Raje, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [55]:
age = 21
txt = "My name is Raje, and I am {}"
print(txt)

My name is Raje, and I am {}

In [56]:
print(txt.format(age))

My name is Raje, and I am 21

In [58]:
# Ex-2
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [61]:
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [62]:
# Escape characters
txt = "We are the so-called "Vikings" from the north.""

SyntaxError: invalid syntax (1433216567.py, line 2)

In [69]:
# To fix this problem, use the escape character \":
txt = "We are the so-called \"Vikings\" from the north."

In [70]:
print(txt)

We are the so-called "Vikings" from the north.

In [71]:
# Single quote
txt = 'It\'s alright.'
print(txt)

It's alright.

In [73]:
# Backslash
txt = "This will insert one \\ (backslash)."
print(txt)

This will insert one \ (backslash).

In [74]:
# newline
txt = "Hello\nWorld!"
print(txt)

Hello
World!

In [80]:
# Carriage return
txt = "Hello\r World!"
print(txt)

 World!

In [81]:
# tab
txt = "Hello\tWorld!"
print(txt)

Hello	World!

In [82]:
# backspace
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!

In [83]:
# form feed
#    \f

In [84]:
# Octal value
#A backslash followed by three integers will result in a octal value:
txt = "\110\145\154\154\157"
print(txt)

Hello

In [85]:
# Hex value
#A backslash followed by an 'x' and a hex number represents a hex value:
txt = "\x48\x65\x6c\x6c\x6f"
print(txt)

Hello

### String methods

In [86]:
# Python String capitalize() Method
txt = "hello, and welcome to my world."
txt = txt.capitalize()
print(txt)

Hello, and welcome to my world.

In [87]:
# EX-2
txt = "python FUN!"
x = txt.capitalize()
print(x)

Python fun!

In [88]:
# Ex-3
txt = "36 is my age."
x = txt.capitalize()
print(x)

36 is my age.

In [89]:
# String casefold() Method
txt = "Hello, And welcome To my World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [90]:
# String center() Method
txt = "banana"
x = txt.center(20)
print(x)

       banana

In [91]:
x = txt.center(20,"0")
print(x)

0000000banana0000000

In [92]:
# String count() Method
txt = "I love apples, apple are my favorite fruit"
x = txt.count("apple")
print(x)

2

In [93]:
# Ex-2
x = txt.count("apple", 10, 24)
print(x)

1

In [94]:
# String encode() Method
txt = "My name is Stale"
x = txt.encode()
print(x)

b'My name is Stale'

In [95]:
print(txt.encode(encoding="ascii",errors="backslashreplace"))

b'My name is Stale'

In [96]:
print(txt.encode(encoding="ascii",errors="ignore"))
print(txt.encode(encoding="ascii",errors="namereplace"))
print(txt.encode(encoding="ascii",errors="replace"))
print(txt.encode(encoding="ascii",errors="xmlcharrefreplace"))

b'My name is Stale'
b'My name is Stale'
b'My name is Stale'
b'My name is Stale'

In [98]:
# String endswith() Method
txt = "Hello, welcome to my world."
x = txt.endswith(".")
print(x)

True

In [99]:
txt = "Hello, welcome to my world."
x = txt.endswith("my world.")
print(x)

True

In [101]:
x = txt.endswith("my world.", 5, 11)
print(x)

False

In [108]:
# String expandtabs() Method
txt = "H\te\tl\tl\to"

x =  txt.expandtabs(2)

print(x)

H e l l o

In [109]:
txt = "H\te\tl\tl\to"

print(txt)
print(txt.expandtabs())
print(txt.expandtabs(2))
print(txt.expandtabs(4))
print(txt.expandtabs(10))

H	e	l	l	o
H       e       l       l       o
H e l l o
H   e   l   l   o
H         e         l         l         o

In [110]:
# String find() Method
txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [111]:
x = txt.find("e")
print(x)

1

In [5]:
# String format() Method
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))

For only 49.00 dollars!

In [9]:
# Place holders
txt1 = "My name is {fname}, I'm {age}".format(fname = "Raje", age = 21)
txt2 = "My name is {0}, I'm {1}".format("Raje",21)
txt3 = "My name is {}, I'm {}".format("Raje",21)

In [10]:
print(txt1)
print(txt2)
print(txt3)

My name is Raje, I'm 21
My name is Raje, I'm 21
My name is Raje, I'm 21

In [ ]:
# Formatting types

In [12]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.
#Use "<" to left-align the value:
txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [13]:
#Use ">" to right-align the value:
txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [14]:
#Use "^" to center-align the value:
txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [17]:
#Use "=" to place the plus/minus sign at the left most position:
txt = "The temperature is {:=8} degrees celsius"
print(txt.format(-6))

The temperature is -      6 degrees celsius

In [18]:
#Use "+" to always indicate if the number is positive or negative:
txt = "The temperature is between {:+} and {:+} degrees celsius"
print(txt.format(-3,7))

The temperature is between -3 and +7 degrees celsius

In [ ]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

In [19]:
txt = "The temperature is between {:-} and {:-} degrees celsius"
print(txt.format(-3,7))

The temperature is between -3 and 7 degrees celsius

In [ ]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

In [20]:
txt = "The temperature is between {: } and {: } degrees celsius"
print(txt.format(-3,7))

The temperature is between -3 and  7 degrees celsius

In [21]:
#Use "," to add a comma as a thousand separator:
txt = "The universe is {:,} years old"
print(txt.format(545455))

The universe is 545,455 years old

In [22]:
#Use "_" to add a underscore character as a thousand separator:
txt = "The universe is {:_} years old."
print(txt.format(14000000))

The universe is 14_000_000 years old.

In [23]:
#Use "b" to convert the number into binary format:
txt = "The binary version of {0} is {0:b}"
print(txt.format(5))

The binary version of 5 is 101

In [26]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:
txt = "We have {:d} chickens."
print(txt.format(12358))

We have 12358 chickens.

In [29]:
#Use "e" to convert a number into scientific number format (with a lower-case e):
txt = "We have {:e} chickens."
print(txt.format(14))

We have 1.400000e+01 chickens.

In [30]:
#Use "E" to convert a number into scientific number format (with an upper-case E):
txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [31]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals, but use a period followed by a number to specify the number of decimals:
txt =  "The price is {:.2f} dollars."
print(txt.format(45))

The price is 45.00 dollars.

In [32]:
txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.000000 dollars.

In [33]:
#Use "o" to convert the number into octal format:
txt = "The octal version od {0} is {0:o}"
print(txt.format(10))

The octal version od 10 is 12

In [34]:
#Use "x" to convert the number into Hex format:
txt = "The hexadecimal version of {0} is {0:x}"
print(txt.format(225))

The hexadecimal version of 225 is e1

In [35]:
print(txt.format(15))

The hexadecimal version of 15 is f

In [36]:
#Use "X" to convert the number into upper-case Hex format:
txt = "The hexadecimal version of {0} is {0:X}"
print(txt.format(225))

The hexadecimal version of 225 is E1

In [37]:
#Use "%" to convert the number into a percentage format:
txt = "You scored {:%}"
print(txt.format(0.25))

You scored 25.000000%

In [39]:
# Or, without any decimals:
txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25%

### Python String index() Method

In [41]:
txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7

In [42]:
x = txt.index("e")
print(x)

1

In [44]:
x = txt.index("e", 5, 10)
print(x)

8

In [46]:
print(txt.find("q"))
print(txt.index("q"))

-1

ValueError: substring not found

In [48]:
# Python String isalnum() Method
txt = "company12"
x = txt.isalnum()
print(x)

True

In [49]:
txt = "company 12"
x = txt.isalnum()
print(x)

False

In [50]:
# Python String isalpha() Method
txt = "CompanyX"
x = txt.isalpha()
print(x)

True

In [51]:
txt = "Company10"
x = txt.isalpha()
print(x)

False

In [52]:
# Python String isascii() Method
txt = "Company123"
x = txt.isascii()
print(x)

True

In [53]:
# Python String isdecimal() Method
txt = "\u0033"  #unicode for 3
x = txt.isdecimal()
print(x)

True

In [54]:
a = "\u0030"   #unicode for 0
b = "\u0047"   #unicode for G
print(a.isdecimal())
print(b.isdecimal())

True
False

In [57]:
# Python String isdigit() Method
txt = "50800"
x = txt.isdigit()
print(x)

True

In [58]:
a = "\u0030"  #unicode for 0
b = "\u00B2"  #unicode for 
print(a.isdigit())
print(b.isdigit())

True
True

In [59]:
# Python String isidentifier() Method
txt = "Demo"
x = txt.isidentifier()
print(x)

True

In [63]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

In [64]:
# Python String islower() Method
txt = "Hello World!"
x = txt.islower()
print(x)

False

In [65]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

In [66]:
# Python String isnumeric() Method
txt = "565543"
x = txt.isnumeric()
print(x)

True

In [67]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

In [69]:
# Python String isprintable() Method
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [70]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

In [71]:
# Python String isspace() Method
txt = "   "
x = txt.isspace()
print(x)

True

In [72]:
txt = "   s   "

x = txt.isspace()

print(x)

False

In [73]:
# Python String istitle() Method
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [74]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

In [75]:
# Python String isupper() Method
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [76]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

In [77]:
# Python String join() Method
myTuple = ("Ram", "Raje", "Priya")
x = "#".join(myTuple)
print(x)

Ram#Raje#Priya

In [78]:
myDict = {"name": "Raje", "Country": "Vizag"}
mySeparator = "TEST"
x = mySeparator.join(myDict)
print(x)

nameTESTCountry

In [80]:
# Python String ljust() Method
txt = "banana"
x = txt.ljust(20)
print(x, "is my favorite fruit")

banana               is my favorite fruit

In [81]:
x = txt.ljust(20, "0")
print(x)

banana00000000000000

In [82]:
# Python String lower() Method
txt = "HELLO my KODANDARAM"
x = txt.lower()
print(x)

hello my kodandaram

In [84]:
# Python String lstrip() Method
txt = "    banana    "
x = txt.lstrip()
print("of all fruits", x, "is my favorite")

of all fruits banana     is my favorite

In [85]:
txt = ",,,,,ssaaww.....banana"
x = txt.lstrip(",.asw")
print(x)

banana

In [86]:
# Python String maketrans() Method
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [87]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [89]:
txt = "Good night sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i soe!

In [90]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(str.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

In [91]:
# Python String partition() Method
txt = "I could eat bananas all day"
x = txt.partition("bananas")
print(x)

('I could eat ', 'bananas', ' all day')

In [92]:
x = txt.partition("apples")
print(x)

('I could eat bananas all day', '', '')

In [93]:
# Python String rsplit() Method
txt = "apple, banana, cherry"
x = txt.rsplit(",")
print(x)

['apple', ' banana', ' cherry']

In [94]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

In [95]:
# Python String splitlines() Method
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines()
print(x)

['Thank you for the music', 'Welcome to the jungle']

In [96]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

In [97]:
# Python String rstrip() Method
txt = "   banana   "
x = txt.rstrip()
print("of all fruits", x, "is my favorite")

of all fruits    banana is my favorite

In [98]:
txt = "banana,,,,,ssqqqww....."
x = txt.rstrip(",.qsw")
print(x)

banana

In [ ]:
# Python String split() Method

In [99]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [100]:
txt = "hello, my name is Raje, I am 21 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Raje', 'I am 21 years old']

In [101]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [102]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

In [104]:
# Python String startswith() Method
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
print(x)

True

In [105]:
x = txt.startswith("wel", 7, 20)
print(x)

True

In [106]:
# Python String strip() Method
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [107]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [108]:
# Python String swapcase() Method
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [109]:
# Python String title() Method
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [110]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [111]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

In [112]:
# Python String translate() Method
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83: 80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

In [113]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [114]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [115]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [116]:
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

In [117]:
# Python String upper() Method

txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

In [118]:
# Python String zfill() Method
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [120]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000